<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!--
        This launch agent runs `brew update` in the background once per day.
        The HOMEBREW_NO_AUTO_UPDATE environment variable should be set to 1.
        -->
        <key>Label</key>
        <string>local.homebrew.update</string>
        <key>ProgramArguments</key>
        <array>
            <string>/opt/homebrew/bin/brew</string>
            <string>update</string>
        </array>
        <key>StartInterval</key>
        <integer>86400</integer>
    </dict>
</plist>
