# git (for other tools that read .gitignore)
.git/

# macOS
.DS_Store

# secrets
.env

# editors
.idea/
.fleet/
.obsidian/
*.sublime-project
*.sublime-workspace

# golang
vendor/
go.work

# python
.venv/
__pycache__/

# syncthing
.stfolder/
