<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!--
        This launch agent imports bookmarks into Safari when the bookmarks backup is updated.
        -->
        <key>Label</key>
        <string>local.safari.bookmarks</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/bin/python3</string>
            <string>$HOME/.dotfiles/bin/import_safari_bookmarks</string>
            <string>$HOME/.backup/bookmarks.html</string>
        </array>
        <key>WatchPaths</key>
        <array>
            <string>$HOME/.backup/bookmarks.html</string>
        </array>
    </dict>
</plist>
