<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <!--
        This launch daemon pulls the /etc/hosts file from https://github.com/StevenBlack/hosts once per week.
        -->
        <key>Label</key>
        <string>local.stevenblack.hosts</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/bin/curl</string>
            <string>https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts</string>
            <string>--output</string>
            <string>/etc/hosts</string>
        </array>
        <key>StartInterval</key>
        <integer>604800</integer>
        <key>StandardOutPath</key>
        <string>/tmp/local.stevenblack.hosts.stdout</string>
        <key>StandardErrorPath</key>
        <string>/tmp/local.stevenblack.hosts.stderr</string>
    </dict>
</plist>
